@font-face 
    font-family: 'iconfont';  /* project id 641485 */
    src: url('//at.alicdn.com/t/font_641485_den2635n5bchaor.eot')
    src: url('//at.alicdn.com/t/font_641485_den2635n5bchaor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_641485_den2635n5bchaor.woff') format('woff'),
    url('//at.alicdn.com/t/font_641485_den2635n5bchaor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_641485_den2635n5bchaor.svg#iconfont') format('svg')
.iconfont 
  font-family "iconfont" !important
  font-size 16px 
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.iconPay:before
    content "\e62c"
.iconDrink:before
    content "\e62e"
.iconFruit:before
    content "\e61f"


    
